<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="search">
            <h2>Search for Your Friends</h2>
            <%= render :partial => 'users/search' %>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <% @users.each do |user| %>
                <div class="row">
                    <div class="col-md">
                        <% if user.avatar_file_name %>
                            <%= image_tag user.avatar_url(:thumb) %>
                        <% end %>
                    </div>
                    <div class="col-md">
                        <p><%= link_to user.name, :action => 'show', :id => user.id  %></p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
