<h1>Your Friends</h1>

<div id="search">
    <%= render :partial => 'users/search' %>
</div>



    <ul>
        <% @users.each do |user| %>
            <% if %>
                <li><%= link_to user.name, :action => 'show', :id => user.id  %></li>
            <% end %>
        <% end %>
    </ul>


